<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Importar Excel</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Importar Planilha Excel</h1>

    <div th:if="${message}" class="message" th:text="${message}"></div>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Selecione o arquivo Excel:</label>
            <input type="file" name="file" accept=".xlsx,.xls" required>
        </div>
        <button type="submit">Importar</button>
    </form>

    <div class="links">
        <a th:href="@{/lista}">Ver Lista de Exames</a>
    </div>
    <div>
        <iframe title="dashboardTeste" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzQ0Y2U4ZjgtZWIzOS00YjgyLWIzMmMtOWVlODI5YjQzZmExIiwidCI6IjY1OWNlMmI4LTA3MTQtNDE5OC04YzM4LWRjOWI2MGFhYmI1NyJ9" frameborder="0" allowFullScreen="true"></iframe>
        <iframe title="BASEdashboardBASE" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNGE4ZjRmZTQtM2VhZC00YzI4LTgxODItYmIzMWFiMmI3OTEyIiwidCI6IjY1OWNlMmI4LTA3MTQtNDE5OC04YzM4LWRjOWI2MGFhYmI1NyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiNzQ0Y2U4ZjgtZWIzOS00YjgyLWIzMmMtOWVlODI5YjQzZmExIiwidCI6IjY1OWNlMmI4LTA3MTQtNDE5OC04YzM4LWRjOWI2MGFhYmI1NyJ9"> Abrir Dashboard de cima</a>
        <br>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiNGE4ZjRmZTQtM2VhZC00YzI4LTgxODItYmIzMWFiMmI3OTEyIiwidCI6IjY1OWNlMmI4LTA3MTQtNDE5OC04YzM4LWRjOWI2MGFhYmI1NyJ9">Abrir Dashboard de baixo</a>
    </div>

</div>
</body>
</html>